python==3.8
click==8.1.3
colorama==0.4.5
Flask==2.2.2
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
python-decouple==3.6
Werkzeug==2.2.2
Flask_Login
Flask_Migrate
Flask_WTF
Flask_SQLAlchemy
SQLAlchemy
Flask_Bcrypt
email_validator
Werkzeug
Flask_Session
pip==22.2.2
Flask_Navigation
