{% extends "finalUser_base.html" %}
{% block content %}
    <div class="w-75 my-auto">
        <form class="row mx-3">
            <div class="mb-3">
                <label for="inputEvaluacion1" class="form-label">Evaluación 1</label>
                <textarea class="form-control" id="inputEvaluacion1" rows="5" disabled readonly></textarea>
            </div>
            <div class="mb-3">
                <label for="inputEvaluacion2" class="form-label">Evaluación 2</label>
                <textarea class="form-control" id="inputEvaluacion2" rows="5" disabled readonly></textarea>
            </div>
            <div class="mb-3">
                <label for="inputEvaluacion3" class="form-label">Evaluación 3</label>
                <textarea class="form-control" id="inputEvaluacion3" rows="5" disabled readonly></textarea>
            </div>
        </form>
    </div>
{% endblock%}